<div class="bottom-bar">
    <div class="bottom-bar-links">
      <div>
        <%= link_to favorites_path do %>
          <%= image_tag "star-full.svg", class: "favorite_btn"%>
        <% end %>
      </div>
      <div class="code-bar_container">
        <div>
          <%= link_to new_search_path do %>
            <%= image_tag "003-line-white.svg", class: "code-bar_btn" %>
          <% end %>
        </div>
      </div>
      <div><%= image_tag "loupe-full.svg", class: "search_btn"%></div>
    </div>
  </div>

