<div class="container-home">
  <h1>Triez avec Ben</h1>
  <div class="image_buddies">
    <%= image_tag "PoubellesP.png", alt: "Poubelles", width: 250 %>
  </div>
  <div class="row">
   <div class="yellow-squared-button col-6">
      <%= link_to favorites_path do %>
        <%= image_tag "star-full-white.svg", class: "favorite_btn"%>
      <% end %>
      <p>Favoris</p>
    </div>
    <div class="grey-squared-button col-6">
      <%= image_tag "loupe-full-white.svg", class: "search_btn"%>
      <p>Recherche</p>
    </div>
    <div class= "green-long-button col-12">
      <%= link_to new_search_path do %>
        <%= image_tag "003-line-white.svg", class: "code-bar_btn" %>
      <% end %>
      <p>Scannez vos produits</p>
    </div>
  </div>
  </div>
</div>
