<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="scan-result">
  <div class="modal-dialog-centered modal-sm">
    <div class="modal-window">
      <div class="modal-content">
        <% @product.product_packages.each do |product_package| %>
            <% if product_package.packaging.category == "verre" %>
            <div class="modal-header border-0">
              <h4 class="modal-title"><i class="fas fa-circle", style="color: #B8B8B5"></i>&nbsp;&nbsp;&nbsp;<%= product_package.packaging.category.capitalize %></h4>
            </div>
            <div class="modal-body">
              <%= product_package.packaging.instruction %>
            </div>
            <% elsif product_package.packaging.category == "metal" || product_package.packaging.category == "carton" || product_package.packaging.category == "plastique" %>
              <div class="modal-header border-0">
                <h4 class="modal-title"><i class="fas fa-circle", style="color: #FECB1D"></i>&nbsp;&nbsp;&nbsp;<%= product_package.packaging.category.capitalize %></h4>
              </div>
              <div class="modal-body">
                <%= product_package.packaging.instruction %>
              </div>
            <% end %>
          <% end %>
        <div class="modal-footer border-0">
          <!-- <a class="btn btn-primary" href="#" role="button">Link</a> -->
          <%= link_to "> Voir plus", product_path(@product) %>
        </div>
      </div>
    </div>
  </div>
</div>
