<div class="container">
  <h1>Favoris</h1>
  <% @favorites.each do |favorite| %>
    <div class="card-favorite d-flex justify-content-between">
      <div class="favorite-text">
        <h2><%= favorite.product.title %></h2>
        <p><%= favorite.product.brand %></p>
        <% favorite.product.product_packages.each do |item| %>
          <% if item.packaging.category == "verre" %>
            <p><i class="fas fa-trash" style='color:#3f96c1;'></i> <%= item.packaging.category.capitalize %> : <%= item.packaging.instruction %></p>
          <% else %>
            <p><i class="fas fa-trash" style='color:#FECB1D;'></i> <%= item.packaging.category.capitalize %> : <%= item.packaging.instruction %></p>
          <% end %>
        <% end %>
      </div>
      <div class="favorite-btn" data-star="<%= favorite.id %>">
        <%= render 'searches/yellow_star', search: favorite %>
      </div>
    </div>
  <% end %>
</div>


