<div class="modal fade" id="scan-result" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <% @product.product_packages.each do |item| %>
        <% if item.packaging.category == "verre" %>
        <div class="modal-header">
          <h5 class="modal-title"><i class="fas fa-circle", style="background-color: green"></i>&nbsp;<%= item.packaging.category.capitalize %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <div class="modal-body">
        <%= item.packaging.instruction %>
      </div>
      <% else %>
        <div class="modal-header">
          <h5 class="modal-title"><i class="fas fa-circle", style="background-color: yellow"></i>&nbsp;<%= item.packaging.category.capitalize %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= item.packaging.instruction %>
        </div>
      <% end %>
      <div class="modal-footer">
        <%= link_to "Voir plus", product_path(@product) %>
        <!-- <button type="button" class="btn btn-primary"></button> -->
      </div>
    </div>
  </div>
</div>
