
<div class="container">
  <h2>Produit recherché :</h2>
    <div class="product-card">
      <div class="product-details">
        <h3><%= @product.title %></h3>
        <p><%= @product.brand %></p>
      </div>
    </div>

  <h2>Consignes de tri :</h2>
        <% @product.product_packages.each do |item| %>
          <div class="sorting-card">
            <% if item.packaging.category == "carton" || "plastique" || "metal" %>
              <h3><i class="fas fa-trash" style='color:#FECB1D;'></i> <%= item.packaging.category.capitalize %></h3>
              <p><%= item.packaging.instruction %></p>
            <% else item.packaging.category == "glass" %>
              <h3><i class="fas fa-trash" style='color:#3f96c1;'><i class="fas fa-trash"></i> <%= item.packaging.category.capitalize %> : <%= item.packaging.instruction %></h3>
            <% end %>
          </div>
        <% end %>

  <h2>Options :</h2>
    <div class="add-favorites ml-3">
      <% @product.searches.each do |search| %>
        <div class="favorite-btn">
          <%= render 'searches/yellow_star', search: search %>
        </div>
      <% end %>
    </div>
    <div class="add-map ml-3">
      <p><i class="fas fa-map-pin"></i> Où jeter ma bouteille en verre</p>
    </div>
</div>
