
<div class="container">
  <h2>Produit recherché :</h2>
    <div class="product-card d-flex">
      <%= image_tag "#{@product.image_url}", class: "product-img" %>
      <div class="product-details">
        <h3><%= @product.title %></h3>
        <p><%= @product.brand %></p>
      </div>
    </div>

  <h2>Consignes de tri :</h2>
    <div class="sorting-card">
      <ul>
        <% @product.product_packages.each do |item| %>
          <li><%= item.packaging.category %> => <%= item.packaging.instruction %></li>
        <% end %>
      </ul>
    </div>

  <h2>Options :</h2>
    <div class="add-favorites ml-3">
      <% @product.searches.each do |search| %>
        <div class="favorite-btn">
          <%= render 'searches/yellow_star', search: search %>
        </div>
      <% end %>
    </div>
    <div class="add-map ml-3">
      <p><i class="fas fa-map-pin"></i> Où jeter ma bouteille en verre</p>
    </div>
</div>
