

<div class="container">
  <h2 class="localisation">Je trie à &nbsp;<i class="fas fa-map-marked-alt"></i> &nbsp; Paris 11ème </h2>
  <div class="product-card">
    <div class="product-details">
      <h3><%= @product.title %></h3>
      <p><%= @product.brand %></p>
    </div>
  </div>

  <div class="results-content">
    <% @product.product_packages.each do |item| %>
      <div class="sorting-card">
        <% if item.packaging.category == "carton" || "plastique" || "metal" %>
          <h3> <%= item.packaging.category.capitalize %></h3>
          <p><%= item.packaging.instruction %></p>
          <div class="image-bin"> <%= image_tag "JauneP.png", class: "yellow_bin", width: 180 %></div>

        <% else item.packaging.category == "verre" %>
          <h3> <%= item.packaging.category.capitalize %></h3>
          <p><%= item.packaging.instruction %></p>
          <div class="image-bin"><%= image_tag "VerteP.png", class: "glass_bin", width: 180 %></div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="add-favorites ml-3">
    <% @product.searches.each do |search| %>
      <div class="favorite-btn">
        <%= render 'searches/yellow_star', search: search %>
      </div>
    <% end %>
  </div>

</div>
