

<div class="container">
  <!-- <h2 class="localisation">Je trie à &nbsp;<i class="fas fa-map-marked-alt"></i> &nbsp; Paris 11ème </h2> -->
  <div class="product-card d-flex justify-content-between">
    <div class="product-details">
      <h3><%= @product.title.downcase.capitalize %></h3>
      <p><%= @product.brand %></p>
    </div>
    <div class="add-favorites ml-3">
      <% @product.searches.each do |search| %>
        <div class="favorite-btn mt-1" data-star="<%= search.id %>">
          <%= render 'searches/yellow_star', search: search %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="results-content">
    <% @product.product_packages.each do |item| %>
      <div class="sorting-card">
        <% if item.packaging.category == "verre" %>
          <div class="gray">
            <div class="category">
              <h3> <%= item.packaging.category.capitalize %></h3>
            <p><%= item.packaging.instruction %></p>
            <p class="tip"><i class="fas fa-lightbulb", style="color: #B8B8B5">&nbsp;</i><%= item.packaging.tip %></p>
            </div>
              <div class="image-glass"><%= image_tag "GroupVerre.svg", class: "glass_bin" %></div>
            <div class=button-glass>
              <div class="current-position-btn"><i class='fas fa-map-marker-alt', style="color: white"></i> <%= link_to "Trouver un conteneur verre ".html_safe, containers_path %></div>
            </div>
          </div>
        <% else %>
          <div class="yellow">
            <div class="category">
              <h3> <%= item.packaging.category.capitalize %></h3>
            <p><%= item.packaging.instruction %></p>
            <p class="tip"><i class="fas fa-lightbulb", style="color: #FECB1D">&nbsp;</i><%= item.packaging.tip %></p>
            </div>
            <div class="image-bin"> <%= image_tag "GroupJaune.svg", class: "yellow_bin" %></div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
